html {
	margin: 0 auto;
}

							@font-face {
								font-family: "extra-bold";
								src: url(fonts/Open_Sans/OpenSans-ExtraBold.ttf);
							}

							@font-face {
								font-family: "regular";
								src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
							}

							@font-face {
								font-family: "bold";
								src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
							}

							@font-face {
								font-family: "light";
								src: url(fonts/Open_Sans/OpenSans-Light.ttf);
							}

							@font-face {
								font-family: "semibold";
								src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
							}

img {
	max-width: 100%;
}

body {
	font-family: "regular";
	background-color: #03002A;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	height: 158px;
}

							@media all and (min-width: 2300px) {
								header {
									max-width: 2000px;
									margin: 0 auto;
									height: 158px;
								}
							}

							@media all and (max-width: 2300px) and (min-width: 1280px) {
								header {
									width: 90%;
									margin: 0 auto;
									height: 158px;
								}
							}

							@media all and (max-width: 1280px) and (min-width: 992px) {
								header {
									width: 90%;
									margin: 0 auto;
									height: 158px;
								}
							}

							@media all and (max-width: 992px) and (min-width: 767px) {
								header {
									width: 90%;
									margin: 0 auto;
									height: 60px;
								}
							}

							@media all and (max-width: 767px) and (min-width: 414px) {
								header {
									max-width: 100%;
									margin: 0px 25px 0px 25px;
									height: 50px;
								}
							}

							@media all and (max-width: 414px) {
								header {
									max-width: 100%;
									margin: 0px 25px 0px 25px;
									height: 40px;
								}
							}

.centered-logo-menu {
	margin-top: 100px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.left-header {
	width: 50%;
}

.logo img {
	filter: drop-shadow(0px 3px 6px #000000);
}

														@media all and (min-width: 2300px) {
															.logo img {
																width: 45%;
																margin: 0 auto;
															}
															.logo {
																margin-left: -9%;
															}
														}

														@media all and (max-width: 2300px) and (min-width: 1280px) {
															.logo img {
																width: 40%;
																margin: 0 auto;
															}
															.logo {
																margin-left: -8%;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															.logo img {
																width: 300px;
																margin: 0 auto;
															}
															.logo {
																margin-left: 0px;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px) {
															.logo img {
																width: 330px;
																margin: 0 auto;
															}
															.logo {
																margin-left: 0px;
															}
														}

														@media all and (max-width: 767px) {
															.logo img {
																width: 330px;
															}
															.logo {
																margin-left: 0%;
															}
														}

.right-header {
	width: 50%;
	margin-right: -2%
}


														@media all and (max-width: 1200px) {
															.right-header {
																display: none;
															}

															.mnu_top {
																display: none;
															}
														}

header .mnu_top {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

header .mnu_top li a {
	text-decoration: none;
	color: #E6E6F6;
	font-family: "semibold";
}

.active-menu li a {
	text-decoration: none;
	color: green;
	font-family: "semibold";
}

#buttons li {
	border: none;
	background-color: unset;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 10px;
	line-height: 33px;
	font-size: 33px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 13px;
}

.active-menu {
	color: red;
	background: linear-gradient(#08F7C5, #00CA73);
	filter: drop-shadow(0px 3px 6px #000000);
}

#buttons li:hover {
	background-color: rgb(255, 255, 255, .25);
}

.title-box {
	font-size: 48px;
	font-family: "bold";
	color: #E6E6F6;
	padding-right: 300px;
}

														@media all and (max-width: 2300px) and (min-width: 1880px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 12px;
																padding-bottom: 10px;
																line-height: 33px;
																font-size: 30px;
																margin-left: 17px;
																margin-right: 17px;
																border-radius: 13px;
															}
														}

														@media all and (max-width: 1880px) and (min-width: 1500px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 7px;
																padding-bottom: 5px;
																line-height: 33px;
																font-size: 25px;
																margin-left: 15px;
																margin-right: 15px;
																border-radius: 13px;
															}
														}

														@media all and (max-width: 1500px) and (min-width: 992px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 7px;
																padding-bottom: 5px;
																line-height: 33px;
																font-size: 22px;
																margin-left: 12px;
																margin-right: 12px;
																border-radius: 13px;
															}
														}

.two-words-menu {
	white-space: nowrap;
}


.hamburger {
	display: block;
}

		@media all and (min-width: 1200px){
			.hamburger {
				display: none;
			}
		}


						#menuToggle {
							position: relative;
							z-index: 1;
							-webkit-user-select: none;
							user-select: none;
						}

						#menuToggle a {
							text-decoration: none;
							color: #03002A;
							transition: color 0.3s ease;
						}

						#menuToggle a:hover {
							color: #00CA73;
						}


						#menuToggle input {
							display: block;
							width: 40px;
							height: 32px;
							position: absolute;

							
							cursor: pointer;
							opacity: 0; /* hide this */
							z-index: 2; /* and place it over the hamburger */
							-webkit-touch-callout: none;
						}

						#menuToggle span {
							display: block;
							width: 33px;
							height: 4px;
							margin-bottom: 5px;
							position: relative;
							
							background: #F2F2F7;
							border-radius: 3px;
							
							z-index: 1;
							
							transform-origin: 4px 0px;
							
							transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
										background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
										opacity 0.55s ease;
						}

						#menuToggle span:first-child{
							transform-origin: 0% 0%;
						}

						#menuToggle span:nth-last-child(2) {
							transform-origin: 0% 100%;
						}

						#menuToggle input:checked ~ span {
							opacity: 1;
							transform: rotate(45deg) translate(-2px, -1px);
							background: #232323;
						}

						#menuToggle input:checked ~ span:nth-last-child(3) {
							opacity: 0;
							transform: rotate(0deg) scale(0.2, 0.2);
						}

						#menuToggle input:checked ~ span:nth-last-child(2) {
							transform: rotate(-45deg) translate(0, -1px);
						}

						#menuToggle ul {
							display: none;
						}

						#menu {
							font-family: "regular";
							border-radius: 33px;
							position: absolute;
							width: 150px;
							margin: -43px 0px 0px -130px;
							padding: 40px 40px 10px 10px;
							text-align: right;
							
							background: #F2F2F7;
							list-style-type: none;
							-webkit-font-smoothing: antialiased;
							/* to stop flickering of text in safari */
							
							transform-origin: 0% 0%;
							transform: translate(0%, 0);
							
							transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
						}

						#menuToggle input:checked ~ ul {
							display: block;
						}

						#menu li {
							padding: 10px 0;
							font-size: 22px;
						}

						#menuToggle input:checked ~ ul {
							transform: none;
						}



.lang-general {
	left: 0px;
	top: 270px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	position: relative;
	display: none;
}

.lang-1 {
	background-color: #4a667b80;
	color: #E6E6F6;
	width: 106px;
	height: 50px;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
	display: none;
}

.lang-2 {
	background-color: #4a667b80;
	color: #03002A;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	width: 74px;
	height: 50px;
	margin-top: 7px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
	display: none;
}

.face-main {
	margin: 0 auto;
	max-width: 2000px;
	display: grid;
    grid-template-columns: 60% 40%;
	color: #E6E6F6;
    
    padding-top: 5%;
}

.gif {
	position: relative;
}

.gif img {
	flex: 1 0 100%;
	border-radius: 750px;
}

.moto {
	font-size: 48px;
	font-family: "bold";
	color: #F2F2F7;
	display: flex;
	flex-direction: column;
}

.under-face-container {
	background-color: inherit;
    width: 90%;
    margin: 0 auto;
}

.mobile-list {
	display: none;
}


										@media (min-width: 2300px) {
											.face-main  {
												max-width: 2000px;
												margin: 0 auto;
											}
											.moto {
												
											}
											.under-face-container {
												margin: 0 auto;
												max-width: 2000px;
                                                width: 2000px;
											}
											.title-box {
											font-size: 48px;
											}
										}

										@media (max-width: 2300px) and (min-width: 1280px) {
											.face-main  {
												min-width: 90%;
                                                max-width: 90%;
												margin: 0 auto;
											}
											.moto {
												
											}
											.title-box {
												font-size: 36px;
											}

										}
						@media (min-width: 1500px) {
							.mobile-list {
								display: none;
							}
						}		
						@media (max-width: 1500px) {
							.mobile-list {
								display: block;
							}
							.desktop-list {
								display: none;
							}
							.face-main {
								display: grid;
								grid-template-columns: 50% 50%;
							}
							.moto {
								justify-content: flex-end;
								flex: 40%;
								
							}
							.gif {
								flex: 60%;
							}
							.mobile-list {
								grid-column: 1 / span 2;
							}
							.list-container {
							}
						}
										@media (max-width: 1500px) and (min-width: 1280px) {
										}
										@media all and (max-width: 1280px) and (min-width: 992px) {
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												font-size: 36px;
											}
											.title-box {
												font-size: 33px;
												margin-left: 8%;
												margin-bottom: 40px;
											}

										}

										@media (max-width: 992px) and (min-width: 767px) {
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
											}
											.title-box {
												font-size: 29px;
												margin-top: 30px;
												margin-left: 6%;
												margin-bottom: 40px;
											}

										}

										@media (max-width: 767px) and (min-width: 600px) {
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
											}
											.title-box {
												font-size: 26px;
												margin-left: 7%;
												margin-top: 30px;
												margin-bottom: 20px;
											}

										}

										@media (max-width: 600px) and (min-width: 500px) {
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
											}
											.title-box {
												font-size: 23px;
												margin-top: 30px;
												margin-left: 9.5%;
												margin-bottom: 20px;
											}
	
										}

										@media (max-width: 500px) and (min-width: 414px) {
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												flex: 50%;
											}
											.title-box {
												font-size: 18px;
												margin-top: 30px;
												margin-left: 11%;
												margin-bottom: 20px;
											}
										}

										@media (max-width: 414px) and (min-width: 350px) {
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												font-size: 18px;
											}
											.title-box {
												
												font-size: 20px;
												margin-top: 30px;
												margin-left: 13%;
												margin-bottom: 30px;
											}
										}

										@media (max-width: 350px) and (min-width: 0px){
											.face-main  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												font-size: 18px;
											}
											.title-box {
												margin-top: 30px;
												margin-left: 0%;
												margin-bottom: 30px;
											}
										}

.gif {
	display: block;
	margin-top: auto;
    margin-bottom: auto;
}

.desk-ai {
	width: 100%;
	height: auto;
}

.mobile-ai {
	display: none;
}

			@media (max-width: 480px) and (min-width: 0px){
				.desk-ai{
					display: none;
				}
				.gif {
					flex: 40%;
				}
				.mobile-ai {
					display: block;
					width: 60%;
					margin: 0 auto;
				}

			}




.list-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	line-height: normal;
}

.list {
	font-size: 36px;
	color: #F2F2F7;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
	flex-wrap: nowrap;
}

.list p {
	font-family: "semibold";
	margin: -25px 0px 25px 0px;
	padding: 0px 50px 0px 0px;
    line-height: 50px;
	white-space: normal;
}

														@media all and (max-width: 1200px) and (min-width: 992px) {
															.list {
																font-size: 30px;
															}
															.list p {
																line-height: 36px;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px) {
															.list {
																font-size: 30px;
															}
															.list p {
																line-height: 36px;
															}
														}

														@media all and (max-width: 767px) and (min-width: 600px) {
															.list {
																font-size: 30px;
															}
															.list p {
																line-height: 32px;
															}
														}

														@media all and (max-width: 600px) and (min-width: 414px) {
															.list {
																font-size: 22px;
															}
															.list p {
																line-height: 28px;
															}
														}

														@media (max-width: 414px) {
															.list {
																font-size: 18px;
															}
															.list p {
																line-height: 27px;
															}
														}


.arrow {
margin-right: 33px;
width: 20px;
min-width: 20px;
margin-bottom: 47px;
}



.button-1 {
	width: 490px;
	height: 103px;
	position: relative;
	border: 6px solid transparent;
	border-radius: 28px;
	background: #03002A;
	background-clip: padding-box;
	color: #E6E6F6;
	font-family: "extra-bold";
	font-size: 33px;
	margin-top: 70px;
}


.button-1::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 28px;
	filter: drop-shadow(0px 3px 6px #000000);
}

.button-1:hover {
	background: #E6E6F6;
	background-clip: padding-box;
	color: #03002A;
}

.button-1:hover:after {
	background: linear-gradient(#08F7C5, #00CA73);
}

								@media  all and (max-width: 992px){
									
									.button-1 {
										width: 300px;
										height: 60px;
										position: relative;
										border: 4px solid transparent;
										border-radius: 12px;
										background: #03002A;
										background-clip: padding-box;
										color: #E6E6F6;
										font-family: "semibold";
										font-size: 20px;
										margin-top: 40px;
									}

									.button-1::after {
										position: absolute;
										top: -4px; bottom: -4px;
										left: -4px; right: -4px;
										background: linear-gradient(#08F7C5, #00CA73);
										content: '';
										z-index: -1;
										border-radius: 12px;
									}

									.button-1:hover {
										background: #E6E6F6;
										background-clip: padding-box;
										color: #03002A;
									}

									.button-1:hover:after {
										background: linear-gradient(#08F7C5, #00CA73);
									}

								}


footer {
	height: 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #E6E6F6;
	font-size: 20px;
	font-family: "bold";
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0;
}
	
	
						@media all and (max-width: 1280px){
								
							footer {
								height: 50px;
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-around;
								align-items: center;
								background-color: #E6E6F6;
								font-size: 14px;
								font-family: "bold";
								bottom: 0px;
								position: fixed; 
								bottom: 0; 
								left: 0; 
								right: 0;
							}
						}

.block {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

}

														@media (min-width: 2300px) {
															.block {
																max-width: 2000px;
																margin: 0 auto;
															}
														}

														@media (max-width: 2300px) and (min-width: 1280px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px){
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}


														@media (max-width: 767px) and (min-width: 600px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media (max-width: 600px) and (min-width: 500px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media (max-width: 500px) and (min-width: 414px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media (max-width: 414px) and (min-width: 350px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media (max-width: 350px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}



.title-container-1 {
	font-size: 64px;
	font-family: "bold";
	padding-bottom: 0px;
	margin-bottom: 0px;
	background: -webkit-linear-gradient(#08F7C5, #00CA73);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

						@media (min-width: 2300px) {

							.title-container-1 {
								font-size: 60px;
							}
						}

						@media (max-width: 2300px) and (min-width: 1280px) {
							.title-container-1 {
								font-size: 55px;
							}
						}

						@media all and (max-width: 1280px) and (min-width: 992px) {
							.title-container-1 {
								font-size: 49px;
							}
						}

						@media (max-width: 992px) and (min-width: 767px) {
							.title-container-1 {
								font-size: 43px;
							}
						}

						@media (max-width: 767px) and (min-width: 600px) {
							.title-container-1 {
								font-size: 38px;
							}
						}

						@media (max-width: 600px) and (min-width: 500px) {
							.title-container-1 {
								font-size: 33px;
							}
						}

						@media (max-width: 500px) and (min-width: 414px) {
							.title-container-1 {
								font-size: 28px;
							}
						}

						@media (max-width: 414px) and (min-width: 350px) {
							.title-container-1 {
								font-size: 23px;
							}
						}

						@media (max-width: 350px) {
							.title-container-1 {
								font-size: 20px;
							}
						}

.columns-1 {
	padding-top: 100px;
	display: grid;
	grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}

.row2 {
    height: 1fr;
}

.col1 {
	display: flex;
	flex-direction: column;
    
}

.number1 {
	padding-top: 20px;
	padding-right: 15px;
	flex: 1;
	min-width: 50px;
	
}

.number1 img {
	height: 53px;
	width: auto;
}

.title1 {
	display: flex;
	flex-direction: row;
	height: 1fr;
}

.title-text1 {
	font-size: 48px;
	font-family: "bold";
	padding-bottom: 32px;
	padding-right: 30px;
	color: #E6E6F6;
	flex: 5;
}

.text1-fake {
	height: 99%;
}

.text1 {
	font-size: 36px;
	font-weight: 400;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 31px;
	padding-bottom: 31px;
	margin-top: 30px;
	color: #E6E6F6;
	border: 6px solid transparent;
	border-radius: 40px;
	box-sizing: border-box;
	height: 100%;
	background: #03002A;
	background-clip: padding-box;
	border-radius: 32px;
	position: relative;
    height: 100%;
}

.text1::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 28px;
}


			@media all and (max-width: 1280px) {
				.text1 {
					font-size: 36px;
					font-weight: 400;
					padding-left: 60px;
					padding-right: 60px;
					padding-top: 31px;
					padding-bottom: 31px;
					margin-top: 30px;
					color: #E6E6F6;
					border: 4px solid transparent;
					border-radius: 14px;
					box-sizing: border-box;
					height: 100%;
					background: #03002A;
					background-clip: padding-box;
					position: relative;
					height: 100%;
				}

				.text1::after {
					position: absolute;
					top: -4px; bottom: -4px;
					left: -4px; right: -4px;
					background: linear-gradient(#08F7C5, #00CA73);
					content: '';
					z-index: -1;
					border-radius: 14px;
				}
			}



								@media all and (min-width: 1350px) {
									.columns-1 {
										padding-top: 100px;
									}
									.title-text1 {
										font-size: 56px;
									}
									.text1 {
										font-size: 36px;
									}
									.number1 img {
										height: 40px;
										width: auto;
									}
								}

								@media all and (max-width: 1350px) and (min-width: 1280px) {
									.columns-1 {
										padding-top: 70px;
									}
									.title-text1 {
										font-size: 40px;
									}
									.text1 {
										padding: 15px 30px 15px 30px;
										margin-top: 0px;
										margin-bottom: 50px;
										padding-top: 0px;
										font-size: 33px;
									}
									.number1 {
										padding-top: 15px;
										padding-right: 15px;
									}
									.number1 img {
										height: 31px;
										width: auto;
									}
								}

					@media all and (max-width: 1280px) {
						.columns-1 {
							display: flex;
							flex-direction: column;
						}
						.col1 {
							order: 1;
						}
						.row1 {
							order: 2;
						}
						.col2 {
							order: 3;
						}
						.row2 {
							order: 4;
						}
						.col3 {
							order: 5;
						}
						.row3 {
							order: 6;
						}
						.title-text1 {
							flex: 20;
						}
						.text1 {
							margin-right: 8%;
						}
					}

								@media all and (max-width: 1280px) and (min-width: 992px) {
									.columns-1 {
										padding-top: 50px;
									}
									.title-text1 {
										font-size: 40px;
										padding-bottom: 0px;
										
									}
									.text1-fake {
										padding-left: 6%;
									}
									.text1 {
										font-size: 28px;
										margin-bottom: 50px;
										padding: 15px 30px 15px 30px;
									}
									.number1 {
										padding-top: 15px;
										padding-right: 15px;
									}
									.number1 img {
										height: 29px;
										width: auto;
									}
								}

								@media all and (max-width: 992px) and (min-width: 600px) {

									.columns-1 {
										padding-top: 40px;
									}
									.title-text1{
										padding-top: 12px;
										font-size: 30px;
										line-height: 40px;
									}
									.text1-fake {
										padding-left: 7.5%;
									}
									.text1 {
										padding: 15px 30px 15px 30px;
										font-size: 25px;
										line-height: 38px;
										margin-top: 0px;
										margin-bottom: 50px;
									}
									.number1 img {
										height: 25px;
										width: auto;
									}
								
								}
								@media all and (max-width: 730px) and (min-width: 600px) {
									.text1-fake {
										padding-left: 9.5%;
									}
								}

								@media all and (max-width: 600px) and (min-width: 465px){
									.columns-1 {
										padding-top: 20px;
									}
									.title-text1 {
										padding-top: 12px;
										font-size: 25px;
										line-height: 30px;
									}
									.text1-fake {
										padding-left: 12%;
									}
									.text1 {
										font-size: 20px;
										line-height: 30px;
										padding: 15px 30px 15px 30px;
										margin-top: 0px;
										margin-bottom: 50px;
									}
									.number1 img {
										height: 23px;
										width: auto;
									}
								}

								@media all and (max-width: 465px){
									.columns-1 {
										padding-top: 20px;
									}
									.title-text1 {
										padding-top: 12px;
										font-size: 25px;
										line-height: 30px;
									}
									.text1-fake {
										padding-left: 12%;
									}
									.text1 {
										font-size: 20px;
										line-height: 30px;
										padding: 15px 30px 15px 30px;
										margin-top: 0px;
										margin-bottom: 50px;
									}
									.number1 img {
										height: 23px;
										width: auto;
									}
								}




.parsable-container {
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 40px;
	padding-bottom: 140px;
}

.parsable-container p {
	position: relative;
	top: 135px;
	font-size: 47px;
	font-family: "bold";
	color: #E6E6F6;
}

.parsable-container img {
	width: 570px;
}

							@media all and (max-width: 1700px) and (min-width: 1200px){
								.parsable-container {
									padding-top: 0px;
									margin-bottom: -100px;
								}
								.parsable-container p {
									top: 110px;
									font-size: 43px;
								}
								.parsable-container img {
									width: 450px;
								}
							}
							@media all and (max-width: 1200px) and (min-width: 992px){
								.parsable-container {
									padding-top: 0px;
									margin-bottom: -100px;
								}
								.parsable-container p {
									top: 115px;
									font-size: 40px;
								}
								.parsable-container img {
									width: 400px;
								}
							}

							@media all and (max-width: 992px) and (min-width: 600px){
								.parsable-container {
									width: 90%;
									margin: auto;
									margin-top: -100px;
									margin-bottom: -150px;
								}
								.parsable-container p {
									top: 90px;
									font-size: 30px;
								}
								.parsable-container img {
									width: 350px;
								}
							}
							@media all and (max-width: 600px) and (min-width: 400px){
								.parsable-container {
									width: 90%;
									margin: auto;
									margin-top: -100px;
									margin-bottom: -250px;
									
								}
								.parsable-container p {
									top: 70px;
									font-size: 20px;
								}
								.parsable-container img {
									width: 220px;
								}
							}

							@media all and (max-width: 400px) and (min-width: 0px){
								.parsable-container {
									width: 90%;
									margin: auto;
									margin-top: -100px;
									margin-bottom: -300px;
									
								}
								.parsable-container p {
									top: 50px;
									font-size: 16px;
								}
								.parsable-container img {
									width: 200px;
								}
							}

.clients-container {
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.map-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 70px;
	
	border-radius: 30px;
}

.map-container img 	{
	border-radius: 30px;
	margin: 0 auto;
}

.tableauPlaceholder {
	border-radius: 40px;
	min-width: 100%;
	max-height: 100%;
	
}

							@media all and (min-width: 1700px){
								.tableauPlaceholder {
									width: 100%;
								}
								.map-container {
									width: 100%;
									height: auto;
								}

							}

							@media all and (max-width: 1700px) and (min-width: 1450px){
								.tableauPlaceholder {
									width: 100%;
									height: auto;
								}
								.map-container {
									width: 100%;
									height: 800px;
								}

							}

							@media all and (max-width: 1450px) and (min-width: 1200px) {
								.tableauPlaceholder {
									width: 100%;
									height: 100%;
								}
								.map-container {
									width: 100%;
									height: auto;
									margin: 0 auto;
								}
							}

							
							@media all and (max-width: 1200px) and (min-width: 992px) {
								.tableauPlaceholder {
									width: 100%;
									height: 100%;
								}
								.map-container {
									margin-top: 50px;
									margin-bottom: 50px;
									width: 100%;
									height: 500px;
								}
							}

							@media all and (max-width: 992px) and (min-width: 600px) {
								.tableauPlaceholder {
									width: 100%;
									height: 100%;
								}
								.map-container {
									margin-top: 50px;
									margin-bottom: 50px;
									width: 100%;
									height: 500px;
								}
							}

							
							@media all and (max-width: 600px) and (min-width: 500px) {
								.tableauPlaceholder {
									width: 100%;
									height: 100%;
								}
								.map-container {
									margin-top: 50px;
									margin-bottom: 50px;
									width: 100%;
									height: 300px;
								}
							}

							@media all and (max-width: 500px) and (min-width: 0px) {
								.tableauPlaceholder {
									width: 100%;
									height: 100%;
								}
								.map-container {
									margin-top: 50px;
									margin-bottom: 50px;
									width: 100%;
									height: 300px;
								}
							}


.map-interaction {
	display: none;
	text-align: left;
	position: absolute;
	bottom: 80%;
}

.map-interaction button {
	background-color: #03002A;
	color: #E6E6F6;
	border: solid;
	border-radius: 0px 20px 20px 0px;
	border-width: 1px;
	border-color: #08F7C5;
	width: 258px;
	height: 90px;
	margin-top: 7px;
	text-align: left;
	font-family: "regular";
	font-size: 30px;
}

.we-do {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rebeccapurple;
}

.slider-mobile {
	display: none;
}

.rows {
	display: flex;
	flex-direction: row;
}

.nums {
	flex: 1;
	margin-right: 0px;
	padding-top: 26px;
}

.nums img {
	height: 52px;
	width: auto;
}

.titles {
	font-size: 70px;
	font-family: "bold";
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.regular-text{
	font-size: 35px;
	font-family: "semibold";
	color: #E6E6F6;
	padding-top: 0px;
	padding-right: 50px;
}

.text-do {
	display: flex;
	flex-direction: column;
	color: #E6E6F6;
	flex: 5;
	margin-top: 0px;
	padding-top: 0px;
}

.pictures-container {
	flex: 6;
	margin-top: 0px;
	padding-bottom: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pictures-container img {
	height: 370px;
}


@media all and (min-width: 1350px) {
	.columns-1 {
		padding-top: 100px;
	}
	.title-text1 {
		font-size: 56px;
	}
	.text1 {
		font-size: 36px;
	}
	.number1 img {
		height: 40px;
		width: auto;
	}
}

@media all and (max-width: 1350px) and (min-width: 1200px) {
	.columns-1 {
		padding-top: 70px;
	}
	.title-text1 {
		font-size: 56px;
	}
	.text1 {
		padding: 15px 30px 15px 30px;
		margin-top: 0px;
		padding-top: 0px;
		font-size: 33px;
	}
	.number1 {
		padding-top: 15px;
		padding-right: 15px;
	}
	.number1 img {
		height: 31px;
		width: auto;
	}
}



						@media (min-width: 1900px) {
							.nums {

							}
							.titles {
								font-size: 56px;
								margin-bottom: -20px;
							}
							.regular-text{
								font-size: 36px;
							}
						}

						@media (max-width: 1900px) and (min-width: 1445px) {
							.nums {

							}
							.titles {
								font-size: 56px;
								margin-bottom: -20px;
							}
							.regular-text{
								font-size: 33px;
							}
						}

						@media (max-width: 1445px) and (min-width: 1280px) {
							.nums img {
								margin-top: -5px;
								height: 43px;
							}
							.titles {
								margin-bottom: -20px;
								font-size: 60px;
							}
							.regular-text{
								font-size: 30px;
							}
							.pictures-container img {
								height: 340px;
							}
						}

						@media all and (max-width: 1280px) and  (min-width: 1060px) {
							.nums img {
								margin-top: -8px;
								height: 38px;
							}
							.titles {
								margin-bottom: -20px;
								font-size: 43px;
							}
							.regular-text{
								font-size: 26px;
							}
							.pictures-container img {
								height: 300px;
							}
						}

			@media (max-width: 1060px) and (min-width: 0px) {
				.rows {
					flex-direction: column	;
				}
				.pictures-container {
					order: 1;
				}
				.text-do {
					order: 2;
				}
				.nums {
					display: none;
				}
				.pictures-container {
					padding-bottom: 20px;
				}
			}


								@media all and (max-width: 1060px) and (min-width: 992px) {
									.titles {
										font-size: 40px;
									}
									.regular-text {
										font-size: 26px;
									}
								}

								@media all and (max-width: 992px) and (min-width: 600px) {
									.titles {
										font-size: 30px;
										line-height: 40px;
									}
									.regular-text {
										font-size: 23px;
										line-height: 38px;
										margin-top: 0px;
										margin-bottom: 50px;
									}
									.pictures-container img {
										height: 250px;
									}
								
								}

								@media all and (max-width: 600px) and (min-width: 465px){
									.titles {
										font-size: 25px;
										line-height: 30px;
									}
									.regular-text {
										font-size: 20px;
										line-height: 30px;
										margin-top: 0px;
										margin-bottom: 50px;
									}
									.pictures-container img {
										height: 220px;
									}
								}

								@media all and (max-width: 465px){
									.titles {
										font-size: 20px;
										line-height: 30px;
									}
									.regular-text {
										font-size: 16px;
										line-height: 30px;
										margin-top: 0px;
										margin-bottom: 50px;
									}
									.pictures-container img {
										height: 170px;
									}
								}



.main-last {
	display: flex;
	flex-direction: column;
}

.logo-main-2 {
	width: 450px;
}

.about-contact {
	display: flex;
	flex-direction: row;
	color: #E6E6F6;
	font-family: "semibold";
	padding-top: 30px;
	padding-bottom: 150px;
}

.short-about {
	width: 60%;
	justify-content: flex-start;
}

.short-about p{
	padding-right: 15%;
}

.button-contact-last {
	width: 40%;
	margin: 0 auto;
	padding-bottom: 50px;
}


						@media (min-width: 2300px) {
							.main-last {
								max-width: 2000px;
								margin: 0 auto;
								font-size: 36px;
							}
							.logo-main-2 img {
								width: 470px;
							}
						}

						@media (max-width: 2300px) and (min-width: 1445px) {
							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 30px;
							}
							.logo-main-2 img {
								width: 470px;
							}
						}
						@media (max-width: 1445px) and (min-width: 1280px) {

							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 27px;
							}
							.logo-main-2 img {
								width: 450px;
							}
							.button-contact-last {
								flex: 50%;
							}
							.short-about {
								flex: 50%;
							}
						}

			@media all and (max-width: 1280px) and (min-width: 0px){
				.about-contact {
					flex-direction: column;
				}
				.short-about {
					width:  100%;
				}
				.button-contact-last {
					width:  100%;
				}
				.logo-main-2 img {
					margin-top: 5%;
					width: 440px;
				}
			}

						@media all and (max-width: 1280px) and (min-width: 1060px) {
							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 23px;
							}
							.logo-main-2 img {
								width: 380px;
							}
						}

						@media (max-width: 1060px) and (min-width: 992px) {
							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 23px;
							}
							.logo-main-2 img {
								width: 350px;
							}
						}

						@media (max-width: 992px) and (min-width: 600px) {
							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 23px;
							}
							.logo-main-2 img {
								width: 310px;
							}
						}

						@media (max-width: 600px) and (min-width: 465px) {
							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 20px;
							}
							.logo-main-2 img {
								width: 260px;
							}
						}

						@media (max-width: 465px) {
							.main-last {
								width: 90%;
								margin: 0 auto;
								font-size: 20px;
							}
							.logo-main-2 img {
								width: 200px;
							}

						}


						
						@media  all and (max-width: 992px){
	
							.button-1 {
								width: 300px;
								height: 60px;
								position: relative;
								border: 4px solid transparent;
								border-radius: 12px;
								background: #03002A;
								background-clip: padding-box;
								color: #E6E6F6;
								font-family: "semibold";
								font-size: 20px;
								margin-top: 40px;
							}
						
							.button-1::after {
								position: absolute;
								top: -4px; bottom: -4px;
								left: -4px; right: -4px;
								background: linear-gradient(#08F7C5, #00CA73);
								content: '';
								z-index: -1;
								border-radius: 12px;
							}
						
							.button-1:hover {
								background: #E6E6F6;
								background-clip: padding-box;
								color: #03002A;
							}
						
							.button-1:hover:after {
								background: linear-gradient(#08F7C5, #00CA73);
							}
						
						}