html {
	margin: 0 auto;
}

							@font-face {
								font-family: "extra-bold";
								src: url(fonts/Open_Sans/OpenSans-ExtraBold.ttf);
							}

							@font-face {
								font-family: "regular";
								src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
							}

							@font-face {
								font-family: "bold";
								src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
							}

							@font-face {
								font-family: "light";
								src: url(fonts/Open_Sans/OpenSans-Light.ttf);
							}

							@font-face {
								font-family: "semibold";
								src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
							}

img {
	max-width: 100%;
}

body {
	font-family: "regular";
	background-color: #03002A;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	height: 158px;
}

														@media all and (min-width: 2300px) {
															header {
																max-width: 2000px;
																margin: 0 auto;
																height: 158px;
															}
														}

														@media all and (max-width: 2300px) and (min-width: 1280px) {
															header {
																width: 80%;
																margin: 0 auto;
																height: 158px;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															header {
																width: 90%;
																margin: 0 auto;
																height: 158px;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px) {
															header {
																width: 90%;
																margin: 0 auto;
																height: 60px;
															}
														}

														@media all and (max-width: 767px) and (min-width: 414px) {
															header {
																max-width: 100%;
																margin: 0px 25px 0px 25px;
																height: 50px;
															}
														}

														@media all and (max-width: 414px) {
															header {
																max-width: 100%;
																margin: 0px 25px 0px 25px;
																height: 40px;
															}
														}

.centered-logo-menu {
	margin-top: 100px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.left-header {
	width: 50%;
}

.logo img {
	filter: drop-shadow(0px 3px 6px #000000);
}

														@media all and (min-width: 2300px) {
															.logo img {
																width: 45%;
																margin: 0 auto;
															}
															.logo {
																margin-left: -9%;
															}
														}

														@media all and (max-width: 2300px) and (min-width: 1280px) {
															.logo img {
																width: 40%;
																margin: 0 auto;
															}
															.logo {
																margin-left: -8%;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															.logo img {
																width: 300px;
																margin: 0 auto;
															}
															.logo {
																margin-left: 0px;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px) {
															.logo img {
																width: 330px;
																margin: 0 auto;
															}
															.logo {
																margin-left: 0px;
															}
														}

														@media all and (max-width: 767px) {
															.logo img {
																width: 330px;
															}
															.logo {
																margin-left: 0%;
															}
															.right-header-mobile {
																display: block;
																right: 0%;
															}
														}

.right-header {
	width: 50%;
	margin-right: -2%
}

.right-header-mobile {
	display: none;
}

														@media all and (max-width: 1200px) {
															.right-header {
																display: none;
															}
															.right-header-mobile {
																display: block;
															}
															.mnu_top {
																display: none;
															}
															.right-header-mobile img {
																width: 50px;
															}
														}

														@media all and (max-width: 500px) {
															.right-header-mobile img {
																width: 40px;
															}
														}

header .mnu_top {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

header .mnu_top li a {
	text-decoration: none;
	color: #E6E6F6;
	font-family: "semibold";
}

.active-menu li a {
	text-decoration: none;
	color: green;
	font-family: "semibold";
}

#buttons li {
	border: none;
	background-color: none;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 10px;
	line-height: 33px;
	font-size: 33px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 13px;
}

.active-menu {
	color: red;
	background: linear-gradient(#08F7C5, #00CA73);
	filter: drop-shadow(0px 3px 6px #000000);
}

#buttons li:hover {
	background-color: rgb(255, 255, 255, .25);
}

														@media all and (max-width: 2300px) and (min-width: 1880px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 12px;
																padding-bottom: 10px;
																line-height: 33px;
																font-size: 30px;
																margin-left: 17px;
																margin-right: 17px;
																border-radius: 13px;
															}
														}

														@media all and (max-width: 1880px) and (min-width: 1500px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 7px;
																padding-bottom: 5px;
																line-height: 33px;
																font-size: 25px;
																margin-left: 15px;
																margin-right: 15px;
																border-radius: 13px;
															}
														}

														@media all and (max-width: 1500px) and (min-width: 992px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 7px;
																padding-bottom: 5px;
																line-height: 33px;
																font-size: 22px;
																margin-left: 12px;
																margin-right: 12px;
																border-radius: 13px;
															}
														}

.two-words-menu {
	white-space: nowrap;
}

.face {
	display: flex;
	align-items: center;
	color: #F2F2F7;
	justify-content: space-between;
}

.moto {
	font-size: 48px;
	font-family: "bold";
	color: #F2F2F7;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.title-box {
	padding-top: 10%;
}

														@media (min-width: 2300px) {
															.face {
																max-width: 2000px;
																margin: 0 auto;
															}
															.moto {
																font-size: 48px;
															}
														}

														@media (max-width: 2300px) and (min-width: 1280px) {
															.face {
																width: 80%;
																margin: 0 auto;
															}
															.moto {
																font-size: 40px;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															.face {
																width: 90%;
																margin: 0 auto;
															}
															.moto {
																font-size: 35px;
															}
															.title-box {
																margin-left: 5%;
																margin-bottom: 40px;
															}
														}

														@media (max-width: 992px) and (min-width: 767px) {
															.face {
																width: 90%;
																margin: 0 auto;
															}
															.moto {
																font-size: 30px;
															}
															.title-box {
																margin-top: 30px;
																margin-left: 6%;
																margin-bottom: 40px;
															}
														}

														@media (max-width: 767px) and (min-width: 600px) {
															.face {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
															.moto {
																font-size: 26px;
															}
															.title-box {
																margin-left: 7%;
																margin-top: 30px;
																margin-bottom: 20px;
															}
														}

														@media (max-width: 600px) and (min-width: 500px) {
															.face {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
															.moto {
																font-size: 23px;
															}
															.title-box {
																margin-top: 30px;
																margin-left: 9.5%;
																margin-bottom: 20px;
															}
														}

														@media (max-width: 500px) and (min-width: 414px) {
															.face {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
															.moto {
																font-size: 20px;
															}
															.title-box {
																margin-top: 30px;
																margin-left: 11%;
																margin-bottom: 20px;
															}
														}

														@media (max-width: 414px) and (min-width: 350px) {
															.face {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
															.moto {
																font-size: 18px;
															}
															.title-box {
																margin-top: 30px;
																margin-left: 13%;
																margin-bottom: 30px;
															}
														}

														@media (max-width: 350px) {
															.face {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
															.moto {
																font-size: 18px;
															}
															.title-box {
																margin-top: 30px;
																margin-left: 0%;
																margin-bottom: 30px;
															}
														}

.list-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	line-height: normal;
}

.list {
	font-size: 36px;
	color: #F2F2F7;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
	flex-wrap: nowrap;
}

.list p {
	font-family: "semibold";
	margin: -25px 0px 25px 0px;
	padding: 0px 50px 0px 0px;
	line-height: 50px;
	white-space: normal
}

														@media all and (max-width: 1200px) and (min-width: 992px) {
															.list {
																font-size: 30px;
															}
															.list p {
																line-height: 36px;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px) {
															.list {
																font-size: 30px;
															}
															.list p {
																line-height: 36px;
															}
														}

														@media all and (max-width: 767px) and (min-width: 600px) {
															.list {
																font-size: 30px;
															}
															.list p {
																line-height: 32px;
															}
														}

														@media all and (max-width: 600px) and (min-width: 414px) {
															.list {
																font-size: 22px;
															}
															.list p {
																line-height: 28px;
															}
														}

														@media (max-width: 414px) {
															.list {
																font-size: 18px;
															}
															.list p {
																line-height: 27px;
															}
														}

.arrow {
	margin-right: 33px;
	width: 20px;
	min-width: 20px;
	margin-bottom: 47px;
}

.lang-general {
	left: 0px;
	top: 270px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	position: relative;
	display: none;
}

.lang-1 {
	background-color: #4a667b80;
	color: #E6E6F6;
	width: 106px;
	height: 50px;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
	display: none;
}

.lang-2 {
	background-color: #4a667b80;
	color: #03002A;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	width: 74px;
	height: 50px;
	margin-top: 7px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
	display: none;
}

.block {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

														@media (min-width: 2300px) {
															.block {
																max-width: 2000px;
																margin: 0 auto;
															}
														}

														@media (max-width: 2300px) and (min-width: 1280px) {
															.block {
																width: 80%;
																margin: 0 auto;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															.block {
																width: 90%;
																margin: 0 auto;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px){
															.block {
																width: 90%;
																padding: 0px 25px 0px 25px;
															}
														}


														@media (max-width: 767px) and (min-width: 600px) {
															.block {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
														}

														@media (max-width: 600px) and (min-width: 500px) {
															.block {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
														}

														@media (max-width: 500px) and (min-width: 414px) {
															.block {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
														}

														@media (max-width: 414px) and (min-width: 350px) {
															.block {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
														}

														@media (max-width: 350px) {
															.block {
																width: 100%;
																margin: 0px 25px 0px 25px;
															}
														}

.button-1 {
	width: 490px;
	height: 103px;
	position: relative;
	border: 6px solid transparent;
	border-radius: 28px;
	background: #03002A;
	background-clip: padding-box;
	color: #E6E6F6;
	font-family: "extra-bold";
	font-size: 33px;
	margin-top: 70px;
	}


.button-1::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 28px;
	filter: drop-shadow(0px 3px 6px #000000);
	}

.button-1:hover {
	background: #E6E6F6;
	background-clip: padding-box;
	color: #03002A;
	}

.button-1:hover:after {
	background: linear-gradient(#08F7C5, #00CA73);
	}


	footer {
		height: 70px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: #E6E6F6;
		font-size: 20px;
		font-family: "bold";
		position: fixed; 
		bottom: 0; 
		left: 0; 
		right: 0;
	}
	
	
						@media all and (max-width: 1280px){
								
							footer {
								height: 50px;
								width: 100%;
								display: flex;
								flex-direction: row;
								justify-content: space-around;
								align-items: center;
								background-color: #E6E6F6;
								font-size: 14px;
								font-family: "bold";
								bottom: 0px;
								position: fixed; 
								bottom: 0; 
								left: 0; 
								right: 0;
							}
						}


						@media  all and (max-width: 992px){
	
							.button-1 {
								width: 300px;
								height: 60px;
								position: relative;
								border: 4px solid transparent;
								border-radius: 12px;
								background: #03002A;
								background-clip: padding-box;
								color: #E6E6F6;
								font-family: "semibold";
								font-size: 20px;
								margin-top: 40px;
							}
						
							.button-1::after {
								position: absolute;
								top: -4px; bottom: -4px;
								left: -4px; right: -4px;
								background: linear-gradient(#08F7C5, #00CA73);
								content: '';
								z-index: -1;
								border-radius: 12px;
							}
						
							.button-1:hover {
								background: #E6E6F6;
								background-clip: padding-box;
								color: #03002A;
							}
						
							.button-1:hover:after {
								background: linear-gradient(#08F7C5, #00CA73);
							}
						
						}
						
/* next part is different */

.FAQ-container{
	margin-bottom: 200px;
}

.title-container-career {
	font-size: 64px;
	font-family: "bold";
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #E6E6F6;
}

.jobs {
	font-size: 60px;
	font-family: "extra-bold";
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.job-border {
	position: relative;
	border-radius: 30px;
	border: 6px solid transparent;
	background: #03002A;
	background-clip: padding-box;
	color: #E6E6F6;
	margin-bottom: 60px;
}

.job-border::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 30px;
}

.jobs-container {
	color: #E6E6F6;
	font-size: 25px;
	font-weight: 400;
}

.job-title {
	font-size: 42px;
	font-family: "semibold";
	padding-left: 40px;
}



.minus {
	background-image: url("/static/images/minus.png");
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-position: 50% 50%;
	border: none;
	border-radius: 11px;
}

.plus {
	background-image: url("/static/images/plus.png");
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	background-position: 50% 50%;
	border: none;
	border-radius: 11px;
}

.job-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "bold";
	padding-left: 20px;
	padding-right: 40px;
	height: 120px;
}

.job-description {
	margin-top: -15px;
	padding-right: 44px;
	padding-left: 60px;
	padding-bottom: 20px;
	font-family: "regular";
	font-size: 32px;
}

.button-container {
	padding-right: 0%;
	padding-bottom: 170px;
	display: flex;
	justify-content: flex-end;
}

.mid-title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 172px;
	font-size: 60px;
	font-family: "bold";
	color: #03002A;
	background-image: linear-gradient(#08F7C5, #00CA73);
}

.contact-hr {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	margin-top: 200px;
	margin-bottom: 200px;
	padding: 0px 6px;
}

.buttons-hr {
	display: inline-flex;
	flex: 1;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.about-hr {
	display: flex;
	flex: 1;
	flex-direction: column;
	font-family: "regular";
	color: #E6E6F6;

	border-radius: 32px;
	position: relative;
	margin-left: 100px;
	margin-right: 100px;
	padding: 30px 100px 30px 50px;

    background: #03002A;
}

.about-hr::before {
	border-radius: 37px;
    content: '';
    background-image: linear-gradient(to bottom, #08F7C5, #00CA73);
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    position: absolute;
    z-index:-1;
}

.name-hr{
	font-family: "bold";
	font-size: 50px;
	line-height: 100px;
}

.hr-says {
	font-family: "regular";
	font-size: 33px;
}

.position-hr {
	font-family: "bold";
	font-size: 33px;
	line-height: 100px;
}

.photo-hr {
	position: absolute;
}

.photo-hr {
	display: block;
    margin: 10px auto 20px;
	position: absolute;
	right: -6px;
	bottom: 75%;
}

.photo-hr img{
	height: 300px;
	border-radius: 40px 40px 0px 40px;
	border-width: 0px;
	z-index: +1;
}

.button-2 {
	width: 490px;
	height: 103px;
	position: relative;
	border: 6px solid transparent;
	border-radius: 28px;
	background: #03002A;
	background-clip: padding-box;
	color: #E6E6F6;
	font-family: "extra-bold";
	font-size: 33px;
}

.button-2::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 28px;
}

.button-2:hover {
	background: #E6E6F6;
	background-clip: padding-box;
	color: #03002A;
}

.button-2:hover:after {
	background: linear-gradient(#08F7C5, #00CA73);
}

@media all and (max-device-width:600px) {


	body {
		margin: 0 auto;
		width: 100%;
	}

	header {
		height: 70px;
		margin: 0 auto;
		margin: 0px 0px 0px 0px;
		padding: 0px 25px 0px 25px;
		width: 100%;
	}

	.centered-logo-menu {
		padding-top: 36px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.left-header {
		margin: 0 auto;
		width: 50%;
		display: block;
	}

	.logo img {
		width: 180px;
	}

	.right-header {
		display: none;
	}

	.right-header-mobile {
		width: 50%;
		display: flex;
		justify-content: end;
		right: 0px;
	}

	.menu-icon {
		width: 37px;
		height: auto;
		margin-right: -8px;
	}

	header .mnu_top {
		display: none;
	}

	.lang-general {
		display: none;
	}

	.list-text {
		display: block;
		overflow: auto;
	}

	.title-box {
		width: 100%;
		font-size: 20px;
		padding-right: 0px;
		line-height: 45px;
		display: grid;
		grid-template-columns: 72% 28%;
		position: relative;
	}

	.list-container {
		min-width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		padding-top: 20px;
		line-height: 22px;
	}


	.list {
		font-family: "semibold";
		font-size: 18px;
		color: #E6E6F6;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin: -30px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		line-height: normal;
		flex-wrap: nowrap;
	}

	.arrow {
		width: 10px;
		padding: 0px 15px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	.arrow-invisible {
		display: block;
		visibility: hidden;
	}

	.empty {
		display: none;
	}

	.button-1 {
		width: 232px;
		height: 45px;
		position: relative;
		border: 2px solid transparent;
		border-radius: 12px;
		background: #03002A;
		background-clip: padding-box;
		color: #E6E6F6;
		font-family: "semibold";
		font-size: 18px;
		margin-top: 20px;
		margin-left: 25px;
		margin-bottom: 20px;
	}

	.button-1::after {
		position: absolute;
		top: -2px; bottom: -2px;
		left: -2px; right: -2px;
		background: linear-gradient(#08F7C5, #00CA73);
		content: '';
		z-index: -1;
		border-radius: 12px;
	}

	.button-1:hover {
		background: #E6E6F6;
		background-clip: padding-box;
		color: #03002A;
	}

	.button-1:hover:after {
		background: linear-gradient(#08F7C5, #00CA73);
	}

	footer {
		margin:0px;
		height: 40px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: #E6E6F6;
		font-size: 10px;
		font-family: "bold";
		bottom: 0px;
		margin-left: -25px;
		margin-right: -50px;
	}

	.title-container-career {
		font-size: 64px;
		font-family: "bold";
		padding-bottom: 0px;
		margin-bottom: 0px;
		color: #E6E6F6;
	}
	
	.jobs {
		font-size: 60px;
		font-family: "extra-bold";
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	
	.shifted-p {
		position: relative;
		top: 25px;
	}
	
	.job-border {
		position: relative;
		border-radius: 30px;
		border: 6px solid transparent;
		background: #03002A;
		background-clip: padding-box;
		color: #E6E6F6;
		margin-bottom: 60px;
	}
	
	.job-border::after {
		position: absolute;
		top: -6px; bottom: -6px;
		left: -6px; right: -6px;
		background: linear-gradient(#08F7C5, #00CA73);
		content: '';
		z-index: -1;
		border-radius: 30px;
	}
	
	.jobs-container {
		color: #E6E6F6;
		font-size: 25px;
		font-weight: 400;
	}
	
	.job-title {
		font-size: 42px;
		font-family: "semibold";
		padding-left: 40px;
	}
	
	
	
	.minus {
		background-image: url("/static/images/minus.png");
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		background-position: 50% 50%;
		border: none;
		border-radius: 11px;
	}
	
	.plus {
		background-image: url("/static/images/plus.png");
		background-repeat: no-repeat;
		width: 40px;
		height: 40px;
		background-position: 50% 50%;
		border: none;
		border-radius: 11px;
	}
	
	.job-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: "bold";
		padding-left: 20px;
		padding-right: 40px;
		height: 120px;
	}
	
	.job-description {
		margin-top: -15px;
		padding-right: 44px;
		padding-left: 60px;
		padding-bottom: 20px;
		font-family: "regular";
		font-size: 32px;
	}
	
	.button-container {
		padding-right: 0%;
		padding-bottom: 170px;
		display: flex;
		justify-content: flex-end;
	}
	
	.mid-title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 172px;
		font-size: 60px;
		font-family: "bold";
		color: #03002A;
		background-image: linear-gradient(#08F7C5, #00CA73);
	}
	
	.contact-hr {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		margin-top: 200px;
		margin-bottom: 200px;
		padding: 0px 6px;
	}
	
	.buttons-hr {
		display: inline-flex;
		flex: 1;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	
	.about-hr {
		display: flex;
		flex: 1;
		flex-direction: column;
		font-family: "regular";
		color: #E6E6F6;
	
		border-radius: 32px;
		position: relative;
		margin-left: 100px;
		margin-right: 100px;
		padding: 30px 100px 30px 50px;
	
		background: #03002A;
	}
	
	.about-hr::before {
		border-radius: 37px;
		content: '';
		background-image: linear-gradient(to bottom, #08F7C5, #00CA73);
		top: -6px;
		left: -6px;
		bottom: -6px;
		right: -6px;
		position: absolute;
		z-index:-1;
	}
	
	.name-hr{
		font-family: "bold";
		font-size: 50px;
		line-height: 100px;
	}
	
	.hr-says {
		font-family: "regular";
		font-size: 33px;
	}
	
	.position-hr {
		font-family: "bold";
		font-size: 33px;
		line-height: 100px;
	}
	
	.photo-hr {
		position: absolute;
	}
	
	.photo-hr {
		display: block;
		margin: 10px auto 20px;
		position: absolute;
		right: -6px;
		bottom: 75%;
	}
	
	.photo-hr img{
		height: 300px;
		border-radius: 40px 40px 0px 40px;
		border-width: 0px;
		z-index: +1;
	}
	
	.button-2 {
		width: 490px;
		height: 103px;
		position: relative;
		border: 6px solid transparent;
		border-radius: 28px;
		background: #03002A;
		background-clip: padding-box;
		color: #E6E6F6;
		font-family: "extra-bold";
		font-size: 33px;
	}
	
	.button-2::after {
		position: absolute;
		top: -6px; bottom: -6px;
		left: -6px; right: -6px;
		background: linear-gradient(#08F7C5, #00CA73);
		content: '';
		z-index: -1;
		border-radius: 28px;
	}
	
	.button-2:hover {
		background: #E6E6F6;
		background-clip: padding-box;
		color: #03002A;
	}
	
	.button-2:hover:after {
		background: linear-gradient(#08F7C5, #00CA73);
	}
}