.cookies {
	position: fixed;
	bottom: 0;
	height: auto;
	min-height: 50px;
	width: 100%;
	font-size: 14px;
	color: white;
	background-color: black;
	opacity: 0.9;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buttons-cookies {
	margin-right: 20px;
	display: flex;
	align-items: center;
	row-gap: 10px;
}

.accept {
	cursor: pointer;
	margin-left: 5px;
}

.decline {
	cursor: pointer;
	margin-left: 5px;
	white-space:nowrap;
}

.js-open-modal {
	cursor: pointer;
	margin-left: 5px;
}

.cookies-text {
	padding-left: 20px;
}

.cross {
	background-image: url("/static/images/cross.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 20px;
	height: 20px;
	background-position: 0% 0%;
	border: none;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
	margin-left: 10px;
}


						@media all and (max-width: 767px) {
							.cookies {
								flex-direction: column;
							}
							.buttons-cookies {
								margin: 10px 10px 10px 0;
								align-self: flex-end;
							}
							.order_buttons {

							}
							.btn-cookies {

							}

						}




/* Стили для подложки */

.overlay {

	/* Скрываем подложку  */
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 20;
	transition: .3s all;
 }


 /* Стили для модальных окон */

 .modal {

	/* Скрываем окна  */
	opacity: 0;
	visibility: hidden;


	/*  Установаем ширину окна  */
	width: 100%;
	max-width: 500px;

	/*  Центрируем и задаем z-index */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30; /* Должен быть выше чем у подложки*/

	/*  Побочные стили   */
	box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
	overflow: scroll;

	padding: 30px;
	border-radius: 3px;
	background-color: #fff;
	transition: 0.3s all;

	/*  Разметка таблицы   */
	display: grid;
	grid-template-columns: auto auto;
 }


 /* Стили для активных классов подложки и окна */

 .modal.active,
 .overlay.active{
	opacity: 1;
	visibility: visible;
 }


 /* Стили для кнопки закрытия */

 .modal__cross {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 20px;
	right: 20px;
	fill: #444;
	cursor: pointer;
 }


 /* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */
.modal__title {
	font-size: 20px;
}

.title-settings {
	font-size: 18px;
}

.text-settings  {
	font-size: 14px;
}

.grid-item {
	padding-top: 0px;
	margin-top: 0px;
}

 /* Стили для Toggle Switch */
 .switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
	margin-top: 20px;
  }

  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: #03002A;
  }

  input:focus + .slider {
	box-shadow: 0 0 1px #03002A;
  }

  input:checked + .slider:before {
	-webkit-transform: translateX(23px);
	-ms-transform: translateX(23px);
	transform: translateX(23px);
  }

  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }

  .slider.round:before {
	border-radius: 50%;
  }

  form{
	display: block;
	width: 100%;
  }

.btn-form {
	width: 100%;
	display: flex;
	justify-content: start;
}

.btn{
	border: none;
	cursor: pointer;
	background-color: #ccc;
	border-radius: 4px;
	height: 30px;
	width: 150px;
	align-self: flex-start;
}

			@media all and (max-width: 767px) {
				.modal {
					width: 80%;
					max-width: 80%;
					height: 80%;
					max-height: 80%;
				}
			}
