html {
	margin: 0 auto;
    margin-bottom: 0px;
}

							@font-face {
								font-family: "extra-bold";
								src: url(fonts/Open_Sans/OpenSans-ExtraBold.ttf);
							}

							@font-face {
								font-family: "regular";
								src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
							}

							@font-face {
								font-family: "bold";
								src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
							}

							@font-face {
								font-family: "light";
								src: url(fonts/Open_Sans/OpenSans-Light.ttf);
							}

							@font-face {
								font-family: "semibold";
								src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
							}

img {
	max-width: 100%;
}

body {
	font-family: "regular";
	background-color: #03002A;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	height: 158px;
}

							@media all and (min-width: 2300px) {
								header {
									max-width: 1700px;
									margin: 0 auto;
									height: 158px;
								}
							}

							@media all and (max-width: 2300px) and (min-width:  1280px) {
								header {
									width: 80%;
									margin: 0 auto;
									height: 158px;
								}
							}

							@media all and (max-width: 1280px) and (min-width: 992px) {
								header {
									width: 90%;
									margin: 0 auto;
									height: 50px;
								}
							}

							@media all and (max-width: 992px) and (min-width: 767px) {
								header {
									width: 90%;
									margin: 0 auto;
									height: 60px;
								}
							}

							@media all and (max-width: 767px) and (min-width: 414px) {
								header {
									max-width: 90%;
									height: 50px;
									margin: 0 auto;
								}
							}

							@media all and (max-width: 414px) {
								header {
									max-width: 90%;
									height: 40px;
									margin: 0 auto;
								}
							}

.centered-logo-menu {
	margin-top: 100px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.left-header {
	width: 50%;
}

.logo img {
	filter: drop-shadow(0px 3px 6px #000000);
}



														@media all and (min-width: 1280px) {
															.logo img {
																width: 250px;
																margin: 0 auto;
															}
															.logo {
																margin-left: -6%;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 767px) {
															.logo img {
																width: 200px;
																margin: 0 auto;
															}
															.logo {
																margin-left: 0px;
															}
														}

														@media all and (max-width: 767px) {
															.logo img {
																width: 200px;
															}
															.logo {
																margin-left: 0%;
															}
														}

.right-header {
	width: 50%;
	margin-right: -2%
}


														@media all and (max-width: 1280px) {
															.right-header {
																display: none;
															}

															.mnu_top {
																display: none;
															}
														}

header .mnu_top {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

header .mnu_top li a {
	text-decoration: none;
	color: #E6E6F6;
	font-family: "semibold";
}

header .active-menu a {
	text-decoration: none;
	color: #03002A !important;
	text-decoration: none;
	font-family: "semibold" !important;
}

#buttons li {
	border: none;
	background-color: unset;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 12px;
	padding-bottom: 10px;
	line-height: 33px;
	font-size: 33px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 13px;
}

.active-menu {
	color: red;
	background: linear-gradient(#08F7C5, #00CA73);
	filter: drop-shadow(0px 3px 6px #000000);
}

#buttons li:hover {
	background-color: rgb(255, 255, 255, .25);
}


														@media all and (min-width: 1280px) {
															
															#buttons li {
																border: none;
																background-color: unset;
																padding-right: 20px;
																padding-left: 20px;
																padding-top: 0px;
																padding-bottom: 0px;
																line-height: 27px;
																font-size: 17px;
																margin-left: 20px;
																margin-right: 20px;
																border-radius: 7px;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															#buttons li {
																padding-left: 25px;
																padding-right: 25px;
																padding-top: 7px;
																padding-bottom: 5px;
																line-height: 33px;
																font-size: 22px;
																margin-left: 12px;
																margin-right: 12px;
																border-radius: 13px;
															}
														}

.two-words-menu {
	white-space: nowrap;
}


.hamburger {
	display: block;
}

		@media all and (min-width: 1280px){
			.hamburger {
				display: none;
			}
		}


						#menuToggle {
							position: relative;
							z-index: 1;
							-webkit-user-select: none;
							user-select: none;
						}

						#menuToggle a {
							text-decoration: none;
							color: #03002A;
							transition: color 0.3s ease;
						}

						#menuToggle a:hover {
							color: #00CA73;
						}


						#menuToggle input {
							display: block;
							width: 40px;
							height: 32px;
							position: absolute;

							
							cursor: pointer;
							opacity: 0; /* hide this */
							z-index: 2; /* and place it over the hamburger */
							-webkit-touch-callout: none;
						}

						#menuToggle span {
							display: block;
							width: 25px;
							height: 4px;
							margin-bottom: 4px;
							position: relative;
							
							background: #F2F2F7;
							border-radius: 3px;
							
							z-index: 1;
							
							transform-origin: 4px 0px;
							
							transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
										background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
										opacity 0.55s ease;
						}

						#menuToggle span:first-child{
							transform-origin: 0% 0%;
						}

						#menuToggle span:nth-last-child(2) {
							transform-origin: 0% 100%;
						}

						#menuToggle input:checked ~ span {
							opacity: 1;
							transform: rotate(45deg) translate(-2px, -1px);
							background: #232323;
						}

						#menuToggle input:checked ~ span:nth-last-child(3) {
							opacity: 0;
							transform: rotate(0deg) scale(0.2, 0.2);
						}

						#menuToggle input:checked ~ span:nth-last-child(2) {
							transform: rotate(-45deg) translate(0, -1px);
						}

						#menuToggle ul {
							display: none;
						}

						#menu {
							font-family: "regular";
							border-radius: 33px;
							position: absolute;
							width: 150px;
							margin: -43px 0px 0px -130px;
							padding: 40px 40px 10px 10px;
							text-align: right;
							
							background: #F2F2F7;
							list-style-type: none;
							-webkit-font-smoothing: antialiased;
							/* to stop flickering of text in safari */
							
							transform-origin: 0% 0%;
							transform: translate(0%, 0);
							
							transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
						}

						#menuToggle input:checked ~ ul {
							display: block;
						}

						#menu li {
							padding: 10px 0;
							font-size: 22px;
						}

						#menuToggle input:checked ~ ul {
							transform: none;
						}



.lang-general {
	left: 0px;
	top: 270px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	position: relative;
	display: none;
}

.lang-1 {
	background-color: #4a667b80;
	color: #E6E6F6;
	width: 106px;
	height: 50px;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
	display: none;
}

.lang-2 {
	background-color: #4a667b80;
	color: #03002A;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	width: 74px;
	height: 50px;
	margin-top: 7px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
	display: none;
}

.face {
	margin: 0 auto;
	max-width: 1800px;
	color: #E6E6F6;
    padding-top: 5%;
}

.title-box {
	font-family: "bold";
	color: #E6E6F6;
	padding-right: 300px;
}

.moto {
	font-family: "bold";
	color: #F2F2F7;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.mobile-list {
	display: none;
}


										@media (min-width: 2300px) {
											.face  {
												max-width: 1700px;
												margin: 0 auto;
											}
											.title-box {
												font-size: 34px;
											}
										}

										@media (max-width: 1860px) {
											.title-box {
												padding-right: 0px;
											}
											.list-container {
												padding-bottom: 0px;
											}
										}

										@media (max-width: 2300px) and (min-width: 1280px) {
											.face  {
												min-width: 80%;
                                                max-width: 80%;
												margin: 0 auto;
											}
											.title-box {
												font-size: 34px;
											}
										}

										@media all and (max-width: 1280px) and (min-width: 992px) {
											.face  {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												font-size: 36px;
											}
											.title-box {
												font-size: 34px;
												margin-bottom: 40px;
											}
										}

										@media (max-width: 992px) and (min-width: 767px) {
											.face {
												width: 90%;
												margin: 0 auto;
											}
											.title-box {
												font-size: 28px;
												margin-top: 30px;
												margin-bottom: 40px;
											}
										}

										@media (max-width: 767px) and (min-width: 600px) {
											.face  {
												width: 90%;
												margin: 0 auto;
											}

											.title-box {
												font-size: 26px;
												margin-top: 30px;
												margin-bottom: 20px;
											}

										}

										@media (max-width: 600px) and (min-width: 500px) {
											.face {
												width: 90%;
												margin: 0 auto;
											}

											.title-box {
												font-size: 23px;
												margin-top: 30px;
												margin-bottom: 20px;
											}
	
										}

										@media (max-width: 500px) and (min-width: 414px) {
											.face {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												flex: 50%;
											}
											.title-box {
												font-size: 18px;
												margin-top: 30px;
												margin-bottom: 20px;
											}
										}

										@media (max-width: 414px) and (min-width: 350px) {
											.face {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												font-size: 18px;
											}
											.title-box {
												
												font-size: 18px;
												margin-top: 30px;
												margin-bottom: 30px;
											}
										}

										@media (max-width: 350px) and (min-width: 0px){
											.face {
												width: 90%;
												margin: 0 auto;
											}
											.moto {
												font-size: 18px;
											}
											.title-box {
												font-size: 18px;
												margin-top: 30px;
												margin-bottom: 30px;
											}
										}



.list-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	line-height: normal;
}

.list {
	font-size: 25px;
	color: #F2F2F7;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.list p {
	font-family: "semibold";
	margin: 0px 0px 25px 0px;
	padding: 0px 0px 0px 0px;
    white-space: normal;
	max-height: 100%;
}




														@media all and (max-width: 1200px) and (min-width: 992px) {
															.list {
																font-size: 25px;
															}
															.list p {
																line-height: 36px;
															}
														}

														@media all and (max-width: 992px) and (min-width: 767px) {
															.list {
																font-size: 25px;
																margin-bottom: 0px;
															}
															.list p {
																line-height: 36px;
															}
														}

														@media all and (max-width: 767px) and (min-width: 611px) {
															.list {
																font-size: 25px;
															}
															.list p {
																line-height: 32px;
															}
														}

														@media all and (max-width: 611px) and (min-width: 414px) {
															.list {
																font-size: 20px;
															}
															.list p {
																line-height: 20px;
															}
														}

														@media (max-width: 414px) {
															.list {
																font-size: 18px;
															}
															.list p {
																line-height: 22px;
															}
														}


.div_for_arrow {
	margin: 0;
	height: 100%;
}
.div_for_paragraph {
	height: 1fr;
}
.arrow {
	margin-right: 15px;
	width: 12px;
	min-width: 13px;
	margin-top: 0px;
	top: 0px;
	margin-bottom: -3px;
}
					@media all and (max-width: 1300px) and (min-width: 767px) {
						.arrow {
							margin-right: 15px;
							width: 13px;
							min-width: 13px;
							margin-bottom: -3px;
						}
					}	

					@media all and (max-width: 767px) and (min-width: 0px) {
						.arrow {
							margin-right: 15px;
							width: 10px;
							min-width: 10px;
							margin-bottom: 3px;
						}
					}	
								
									
.button-1 {
	width: 300px;
	height: 60px;
	position: relative;
	border: 2px solid transparent;
	border-radius: 16px;
	background: #03002A;
	background-clip: padding-box;
	color: #E6E6F6;
	font-family: "semibold";
	font-size: 20px;
	margin-top: 0px;
	cursor: pointer;
}

.button-1::after {
	position: absolute;
	top: -2px; bottom: -2px;
	left: -2px; right: -2px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 16px;
}

.button-1:hover {
	background: #E6E6F6;
	background-clip: padding-box;
	color: #03002A;
}

.button-1:hover:after {
	background: linear-gradient(#08F7C5, #00CA73);
}
	
footer {
	height: 40px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #E6E6F6;
	font-size: 10px;
	font-family: "bold";
	bottom: 0px;
	bottom: 0; 
	left: 0; 
	right: 0;
    position: fixed;
}

.block {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

														@media (min-width: 2300px) {
															.block {
                                                                max-width: 1700px;
                                                                margin: 0 auto;
                                                            }
														}

														@media (max-width: 2300px) and (min-width: 1280px) {
															.block {
                                                                width: 80%;
                                                                margin: 0 auto;
                                                            }
														}

														@media all and (max-width: 1280px) and (min-width: 0px) {
															.block {
                                                                width: 90%;
                                                                margin: 0 auto;
															}
														}


														/* next part is different */

.title-container-project {
	margin-top: 70px;
	width: 100%;
}

.project-title {
	font-size: 50px;
	font-family: "bold";
	color: #E6E6F6;
}

														@media (min-width: 2300px) {
															.project-title {
																font-size: 43px;
																margin-top: 60px;
															}
														}

														@media (max-width: 2300px) and (min-width: 1280px) {
															.project-title {
																font-size: 36px;
																margin-top: 60px;
															}
														}

														@media all and (max-width: 1280px) and (min-width: 992px) {
															.project-title {
																font-size: 30px;
																margin-top: 60px;
																margin-bottom: -20px;
															}
														}

														@media (max-width: 992px) and (min-width: 767px) {
															.project-title {
																font-size: 29px;
																margin-bottom: -20px;
															}
														}

														@media (max-width: 767px) and (min-width: 600px) {
															.project-title {
																font-size: 29px;
																margin-top: 40px;
																margin-bottom: -20px;
															}
														}

														@media (max-width: 767px) and (min-width: 600px) {
															.project-title {
																font-size: 27px;
																margin-top: 40px;
																margin-bottom: -20px;
															}
														}

														@media (max-width: 600px) and (min-width: 500px) {
															.project-title {
																font-size: 26px;
																margin-top: 40px;
																margin-bottom: -20px;
															}
														}

														@media (max-width: 500px) and (min-width: 414px) {
															.project-title {
																font-size: 25px;
																margin-top: 40px;
																margin-bottom: -20px;
															}
														}

														@media (max-width: 414px) and (min-width: 0px) {
															.project-title {
																font-size: 22px;
																margin-top: 40px;
																margin-bottom: -20px;
															}

														}



.figure-line {
	width: 100%;
	height: auto;
}

.figure-line img {
	width: 100%;
	height: auto;
}

.project-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "semibold";
}

.dash-container {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.tableauPlaceholder {
	height: 100%;
	border-radius: 40px;
}

.tableau-div {
	margin: 0 auto;
	width: 100%;
	filter: drop-shadow(0px 3px 6px #000000);
}

														@media (min-width: 2300px) {
															.tableauPlaceholder {
																width: 100%;
																height: auto;
															}
															.dash-container {
																margin-top: 60px;
																margin-bottom: 60px;
															}

														}

														@media (max-width: 2300px) and (min-width: 2000px) {
															.tableauPlaceholder {
																width: 100%;
																height: 850px;
															}
															.dash-container {
																margin-top: 50px;
																margin-bottom: 50px;
																width: 100%;
																height: 850px;
															}
														}

														@media (max-width: 2000px) and (min-width: 1800px) {
															.tableauPlaceholder {
																width: 100%;
																height: 750px;
															}
															.dash-container {
																margin-top: 50px;
																margin-bottom: 50px;
																width: 100%;
																height: 750px;
															}
														}

														@media all and (max-width: 1800px) and (min-width: 1450px) {
															.tableauPlaceholder {
																width: 100%;
																height: 610px;
															}
															.dash-container {
																margin-top: 50px;
																margin-bottom: 50px;
																width: 100%;
																height: 610px;
															}
														}

														@media all and (max-width: 1450px) and (min-width: 1200px) {
															.tableauPlaceholder {
																width: 100%;
																height: 550px;
															}
															.dash-container {
																margin-top: 50px;
																margin-bottom: 50px;
																width: 100%;
																height: 550px;
															}
														}

									@media all and (max-width: 1200px) and (min-width: 0px) {
										.project-container {
											width: 100%;
											display: grid;
											grid-template-columns: auto;
                                            margin-bottom: 100px;
										}
										.dash-container {
											margin: 0px 0px 0px 0px;
											padding: 0px 0px 0px 0px;
											width: 100%;
                                            height: 380px;
										}
										.tableauPlaceholder {
											margin: 0 auto;
                                            width: 100%;
                                            height: auto;
										}
										.tableau-div {
											margin: 0 auto;
											width: 100%;
										}
									}

														@media all and (max-width: 1200px) and (min-width: 992px) {
															.tableauPlaceholder {
																width: 100%;
																height: 600px;
															}
															.dash-container {
																margin-top: 50px;
																margin-bottom: 30px;
																height: 600px;
															}
														}

														@media (max-width: 992px) and (min-width: 767px) {
															.tableauPlaceholder {
																width: 100%;
																height: 600px;
															}
															.dash-container {
																margin-top: 50px;
																margin-bottom: 30px;
																height: 600px;
															}
														}

														@media (max-width: 767px) and (min-width: 600px) {
															.dash-container {
																margin-top: 50px;
															}
														}

														@media (max-width: 600px) and (min-width: 500px) {
															.project-container {
																margin-top: 50px;
															}
                                                            .tableauPlaceholder {
																width: 100%;
																height: 400px;
															}
														}

														@media (max-width: 500px) and (min-width: 0px) {
															.project-container {
																margin-top: 40px;
															}
                                                            .tableauPlaceholder {
																width: 100%;
																height: 350px;
															}
														}


.project-descriprion {
	width: 30%;
	font-family: "semibold";
	color: #E6E6F6;
	align-self: flex-start;
	padding: 0;
}

.project-text {
	font-family: "semibold";
}

.title-project {
	font-family: "bold";
}

.tableau-logo {
    margin-top: 30px;
	width: 250px;
}



														@media (min-width: 1800px) {
															.project-descriprion {
																padding: 0px 40px 0px 40px;
																margin-top: 60px;
															}
															.project-text-simple {
																font-size: 18px;
																margin-bottom: 80px;
															}
															.title-project {
																font-size: 25px;
																margin-bottom: 80px;
															}
														}

														@media all and (max-width: 1800px) and (min-width: 1200px) {
															.project-descriprion {
																padding: 0px 40px 0px 40px;
																margin-top: 60px;
														}
															.project-text {
																font-size: 18px;
																margin-bottom: 80px;
															}
															.title-project {
																font-size: 25px;
																margin-bottom: 80px;
															}
                                                            .tableau-logo {
                                                                width: 200px;
                                                            }
														}

                                        @media all and (max-width: 1200px) and (min-width: 0px) {
                                            .project-descriprion {
                                                width: 100%;
                                                padding: 0px 0px 0px 0px;
                                            }
                                            .go-to {
                                                position: relative;
                                            }

                                            .tableau-logo {
                                                position: absolute;
                                                max-width: 200px;
                                            }
                                        }

														@media all and (max-width: 1200px) and (min-width: 992px) {
															.project-descriprion {
																margin-top: 45px;
															}
															.project-text {
																font-size: 22px;
																margin-bottom: 40px;
																padding-right: 30px;
															}
															.title-project {
																font-size: 33px;
																margin-bottom: 40px;
															}
															.tableau-logo {
																right: 0px;
																bottom: 0;
															}
														}

														@media (max-width: 992px) and (min-width: 767px) {
															.project-descriprion {
																margin-top: 45px;
															}
															.project-text {
																font-size: 22px;
																margin-bottom: 40px;
																padding-right: 30px;
															}
															.title-project {
																font-size: 33px;
																margin-bottom: 40px;
															}	
															.tableau-logo {
																right: 0px;
																bottom: 0;
																max-width: 200px;
															}
														}

														@media (max-width: 767px) and (min-width: 550px) {
															.project-descriprion {
																margin-top: 35px;
                                                                height: auto;
															}
															.project-text {
																font-size: 20px;
																margin-bottom: 40px;
																padding-right: 30px;
															}

															.title-project {
																font-size: 29px;
																margin-bottom: 30px;
															}	
															.tableau-logo {
																max-width: 150px;
																right: 0px;
															}
														}

														@media (max-width: 550px) and (min-width: 0) {
															.project-descriprion {
																margin-top: 35px;
															}
															.project-text {
																font-size: 20px;
																margin-bottom: 40px;
																padding-right: 30px;
															}
															.title-project {
																font-size: 25px;
																margin-bottom: 30px;
															}	
															.tableau-logo {
                                                                position: relative;
                                                                max-width: 150px;
															}
														}






