html {
	margin: 0 auto;

}

@font-face{
	font-family: "extra-bold";
	src: url(fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face{
	font-family: "regular";
	src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}



@font-face{
	font-family: "bold";
	src: url(fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face{
	font-family: "light";
	src: url(fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face{
	font-family: "semibold";
	src: url(fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

img {
	max-width: 100%;
}

body {
	font-family: "regular";
	background-color: #03002A;
	width:100%;
	height:100%;
	margin: 0 auto;
}

header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	height: 158px;
}

.centered-logo-menu {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.left-header {
	margin-left: 100px;
	width: 445px;
	margin-top: 65px;
}

.logo {
	max-width: 100px;
}

.right-header {
	padding-top: 82px;
}

.right-header-mobile {
	display: none;
}

header .mnu_top {
	margin-right: 100px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}


header .mnu_top li a {
	text-decoration: none;
	color: #E6E6F6;
	font-family: "semibold";
}

#buttons li {
	border: none;
	background-color: none; /* change when active + "header .mnu_top li a" */
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 33px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 13px;
}

.active-menu {
	border: none;
	padding-left: -20px;
	padding-right: -20px;
	padding-top: -50px;
	padding-bottom: -50px;
	font-size: 33px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 13px;
	color: red;
	background: linear-gradient(#08F7C5, #00CA73);
	filter: drop-shadow(0px 3px 6px #000000);
}

#buttons li:hover {
	background-color: rgb(255, 255, 255, .25);
}

.two-words-menu {
	white-space: nowrap;
}

.face {
	display: flex;
	align-items: center;
	color: #F2F2F7;
	flex-direction: column;
	background-color: #00CA73;

}

.moto {
	font-size: 48px;
	font-family: "bold";
	color: #F2F2F7;
	width: 100%;
	margin: 0 0 0 0;
	padding-left: 173px;
	padding-top: 145px;
	padding-right: 0;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.list-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	line-height: normal;
}

.list-two-rows {
	font-size: 36px;
	color: #F2F2F7;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
	flex-wrap: nowrap;
}

.list-two-rows p {

	font-family: "semibold";
	margin: -25px 0px 25px 0px;
	padding: 0px 50px 0px 0px;
	line-height: 50px;
    white-space: normal
}


.arrow {
	margin-right: 33px;
	width: 20px;
	min-width: 20px;
	margin-bottom: 47px;
}

.button-1 {
	width: 490px;
	height: 103px;
	position: relative;
	border: 6px solid transparent;
	border-radius: 28px;
	background: #03002A;
	background-clip: padding-box;
	color: #E6E6F6;
	font-family: "extra-bold";
	font-size: 33px;
	margin-top: 70px;
}


.button-1::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index: -1;
	border-radius: 28px;
}

.button-1:hover {
	background: #E6E6F6;
	background-clip: padding-box;
	color: #03002A;
}

.button-1:hover:after {
	background: linear-gradient(#08F7C5, #00CA73);
}

.lang-general {
	left: 0px;
	top: 270px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	position: relative;
}

.lang-1 {
	background-color: #4a667b80;
	color: #E6E6F6;
	width: 106px;
	height: 50px;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
}


.lang-2 {
	background-color: #4a667b80;
	color: #03002A;
	border-radius: 8px 0px 0px 8px;
	border-width: 0px;
	width: 74px;
	height: 50px;
	margin-top: 7px;
	padding-left: 10px;
	text-align: left;
	font-family: "semibold";
	font-size: 27px;
}

.block2222222 {
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 173px;
	padding-right: 173px;
	margin-bottom: 0px;
}

footer {
	height: 90px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #E6E6F6;
	font-size: 29px;
	font-family: "bold";
	bottom: 0px;
	margin-bottom: 0px;
}


/* next part is different */


.title-container-team {
	font-size: 64px;
	font-family: "bold";
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #F2F2F7;
}


.button-container {
	padding-right: 0%;
	padding-bottom: 170px;
	display: flex;
	justify-content: flex-end;
}

.team-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 200px;
	margin-bottom: 200px;
}

.about-member {
	position: relative;
	border-radius: 37px;
	background: #03002A;
	background-clip: border-box;
	width: 25%;
	flex-direction: column;
	display: flex;
	font-family: "regular";
	color: #F2F2F7;

	justify-content: flex-end;
	padding: 20px 20px 30px 50px;
	margin-bottom: 250px;
}


.about-member::after {
	position: absolute;
	top: -6px; bottom: -6px;
	left: -6px; right: -6px;
	background: linear-gradient(#08F7C5, #00CA73);
	content: '';
	z-index:-1;
	border-radius: 40px;
}


.name-member{
	font-family: "bold";
	font-size: 45px;
	line-height: 60px;
}

.member-says {
	font-family: "regular";
	font-size: 30px;
}

.position-member {
	font-family: "bold";
	font-size: 30px;
	line-height: 80px;
}

.button-2 {
	width: 490px;
	height: 103px;
	position: relative;
	border: solid;
	border-color: #08F7C5;
	border-radius: 28px;
	background: #03002A;
	color: white;
	font-family: "extra-bold";
	font-size: 33px;
}


.photo-member {
	display: block;
    margin: 10px auto 20px;
	position: absolute;
	right: -6px;
	bottom: 80%;
}

.photo-member img{
	height: 250px;
	border-radius: 40px 40px 0px 40px;
	border-width: 0px;
	z-index: +1;
}

.photo-member-fake {
	display: none;
	top: 0;
	right: 0px;
	height: 120px;
}

.list-container-bottom {
	padding-left: 172px;
	margin-top: -300px;
	margin-bottom: 170px;
}


.join-us-text {
	font-family: "bold";
	font-size: 36px;
	color: #E6E6F6;
}

.careers {
	margin-bottom: 260px;
}

/* MOBILE */

@media all and (max-device-width:414px) {
	body {
		margin: 0 auto;
		width: 100%;
	}

	header {
		height: 70px;
		margin: 0 auto;
		margin: 0px 0px 0px 0px;
		padding: 0px 25px 0px 25px;
		width: 100%;
	}

	.centered-logo-menu {
		padding-top: 36px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
	}

	.left-header {
		margin: 0 auto;
		width: 50%;
		display: block;
	}

	.logo img {
		width: 200px;
	}

	.right-header {
		display: none;
	}

	.right-header-mobile {
		width: 50%;
		display: flex;
		justify-content: end;
		right: 0px;
	}

	.menu-icon {
		width: 42px;
		height: auto;
		margin-right: -8px;
	}

	header .mnu_top {
		display: none;
	}

	.lang-general {
		display: none;
	}

	.face {
		width: 100%;
		display: flex;
		justify-content: space-between;
		color: #E6E6F6;
		padding-left: 25px;
		padding-right: 25px;
		margin: 0px 0px 0px 0px;
	}

	.moto {
		font-size: 20px;
		font-family: "bold";
		color: #E6E6F6;
		width: 100%;
		
		margin: -20px 0px 0px 0px;
		padding: 0px 0px 0px 0px;

		display: flex;
		flex-direction: column;
		padding-top: 0px;
		padding-left: 0px;
	}

	.list-text {
		display: block;
		overflow: auto;
	}

	.h1 {
		color: #E6E6F6;
	}

	.title-box {
		height: 80px;
		line-height: 45px;
	}

	.list-container {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		padding-top: 30px;
	}


	.list-two-rows {
		font-family: "semibold";
		font-size: 18px;
		color: #E6E6F6;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: -30px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		line-height: normal;
		flex-wrap: nowrap;
	}


	.list-two-rows p {
	
		font-family: "semibold";
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		line-height: normal;
	}
	
	



	.arrow {
		width: 10px;
		min-width: 11px;
		padding: 0px 15px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	.arrow-invisible {
		display: block;
		visibility: hidden;
	}

	.empty {
		display: none;
	}

	.button-1 {
		width: 232px;
		height: 45px;
		position: relative;
		border: 2px solid transparent;
		border-radius: 12px;
		background: #03002A;
		background-clip: padding-box;
		color: #E6E6F6;
		font-family: "semibold";
		font-size: 20px;
		margin-top: 40px;
	}

	.button-1::after {
		position: absolute;
		top: -2px; bottom: -2px;
		left: -2px; right: -2px;
		background: linear-gradient(#08F7C5, #00CA73);
		content: '';
		z-index: -1;
		border-radius: 12px;
	}

	.button-1:hover {
		background: #E6E6F6;
		background-clip: padding-box;
		color: #03002A;
	}

	.button-1:hover:after {
		background: linear-gradient(#08F7C5, #00CA73);
	}

	footer {
		height: 50px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: #E6E6F6;
		font-size: 10px;
		font-family: "bold";
		position:sticky;
		bottom: 0px;
	}

	/* next part is different */

	.title-container-team {
		font-size: 10px;
		font-family: "bold";
		padding-bottom: 0px;
		margin-bottom: 0px;
		color: #F2F2F7;
	}
	

	
	.block2222222 {
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 25px;
		padding-right: 0px;
		margin-bottom: 0px;
		width: 100%;
	}

	.team-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.about-member {
		position: relative;
		border-radius: 12px;
		background: #03002A;
		background-clip: border-box;
		width: 100%;
		flex-direction: column;
		display: flex;
		font-family: "regular";
		color: #F2F2F7;
		padding: 0px 12px 0px 12px;
		justify-content: flex-end;
		margin-bottom: 50px;
	}
	
	
	.about-member::after {
		position: absolute;
		top: -2px; bottom: -2px;
		left: -2px; right: -2px;
		background: linear-gradient(#08F7C5, #00CA73);
		content: '';
		z-index:-1;
		border-radius: 12px;
	}
	
	
	.name-member{
		font-family: "bold";
		font-size: 20px;
		line-height: 32px;
	}
	
	.member-says {
		font-family: "regular";
		font-size: 17px;
		line-height: normal;
	}
	
	.position-member {
		font-family: "bold";
		font-size: 17px;
		line-height: normal;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.button-2 {
		width: 232px;
		height: 45px;
		position: relative;
		border: solid;
		border-color: #08F7C5;
		border-radius: 12px;
		background: #03002A;
		color: white;
		font-family: "extra-bold";
		font-size: 20px;
	}

	.photo-member-fake {
		display: none;
		top: 0;
		right: 0px;
		height: 120px;
	}
	
	
	.photo-member {
		display: block;
		position: absolute;
		right: -3px;
		top: -13px;
	}
	
	.photo-member img {
		height: 120px;
		border-radius: 0px 12px 0px 12px;
		border-width: 0px;
		z-index: 1;
	}
	
	.list-container-bottom {
		padding-left: 25px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	
	.join-us-text {
		font-family: "bold";
		font-size: 20px;
		color: #E6E6F6;
	}
	
	.careers {
		margin-bottom: 70px;
	}
}
