{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oliva Advisory</title>
	<link rel="stylesheet" type="text/css" href="{%static "css/contact_us_2.css" %}">
</head>
<body>
	<header class=header>
		<div class="centered-logo-menu">
			<div class="left-header">
				<a href="/" class="logo">
					<img src="{%static "images/logo__full_darkmode.png" %}" alt="">
				</a>
			</div>
			<div class="right-header">
				<ul class="mnu_top" id="buttons">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'team' %}">Team</a></li>
					<li><a href="{% url 'projects' %}">Projects</a></li>
					<li><a href="{% url 'career' %}">Career</a></li>
					<li class="active-menu two-words-menu"><a href="#">Contact us</a></li>
				</ul>
			</div>
			
            <div class="hamburger" role="navigation">
                <div id="menuToggle">
                    <!--
                    A fake / hidden checkbox is used as click reciever,
                    so you can use the :checked selector on it.
                    -->
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                
                    <ul id="menu">
                    <a href="{% url 'index' %}"><li>Home</li></a>
                    <a href="{% url 'team' %}"><li>Team</li></a>
                    <a href="{% url 'projects' %}"><li>Projects</li></a>
					<a href="{% url 'career' %}"><li>Career</li></a>
                    <a href="{% url 'contact_us' %}"><li>Contact us</li></a>
                    </ul>
                </div>
            </div>

		</div>
		<div class="lang-general">
			<button class="lang-1">EN</button>
			<button class="lang-2">DE</button>
		</div>
	</header>
	<div class="face">
		<div class="moto">
			<div class="title-box"><h1>Contact us<h1></div>
			<div class="list-container">
				<div class="list">
					<img class="arrow" src="{%static "images/arrow.png" %}">
					<p>Do you want to bring the power of analytics to your business?</p>
				</div>
				<div class="list">
					<img class="arrow" src="{%static "images/arrow.png" %}">
					<p>Our consultants will help you optimize processes and bring valuable insights.</p>
					</div>
				<div class="list">
					<img class="arrow" src="{%static "images/arrow.png" %}">
					<p>We will get back to you within 24 hours.</p>
				</div>
				<div class="list empty">
					<p></p>
				</div>
				<div class="list">
					<img class="arrow arrow-invisible" src="{%static "images/arrow.png" %}">
					<p>Our team is there for you.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="divvv">
		<div class="forms-container">
			<form class="forms-all" action="{% url 'contact_us' %}" method="post">
				{% csrf_token %}
				<div class="form-name label-padding">
					<label for="name">Name</label>
				</div>
				<div class="form">
					<input class="form" type="text" id="name" name="message_name" placeholder="Your name">
				</div>
				<div class="form-phone label-padding">
					<label for="phone">Phone</label>
				</div>
				<div class="form">
					<input type="text" id="phone" name="message_phone" placeholder="Your phone number">
				</div>
				<div class="form-email label-padding">
					<label for="email">Email</label>
				</div>
				<div class="form">
					<input type="text" id="email" name="message_email" placeholder="Your email address">
				</div>
				<div class="message label-padding">
					<label for="email">Message</label>
				</div>
				<div class="form">
					<textarea class="textarea" placeholder="Text your message" id="message" name="message"></textarea>
				</div>	
				<div class="button-container">
					<button class="button-1" type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
	<footer>
		<div>
			<p>Imprint</p>
		</div>
		<div>
			<p>© Oliva Advisory GmbH 2019</p>
		</div>
	</footer>
</body>