{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oliva Advisory</title>
	<link rel="icon" href="{%static "images/favicon.ico" %}">
	<link rel="stylesheet" type="text/css" href="{%static "css/imprint.css" %}">
</head>
<body>
	<div class="imprint-text">
		<p class="bold-text">Oliva Advisory GmbH</p>
		<p>Oliva Advisory GmbH, An der Fuchsenhuette 78, 64380 Rossdorf<br>
		Commercial register: Darmstadt Local Court HRB 99981<br>
		Represented by: Nicola Oliva<br>
		E-Mail: info@oliva-advisory.de<br>
		We are not willing or obliged to participate in dispute resolution proceedings before a consumer arbitration board.</p>
		<br>
		<p>Liability for contents</p>
		<p>As a service provider, we are responsible for our own content on these pages in accordance with general legislation pursuant to Section 7 (1) of the German Telemedia Act (TMG). According to §§ 8 to 10 TMG, however, we are not obligated as a service provider to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity.</p>
		<p>Obligations to remove or block the use of information according to general laws remain unaffected. However, liability in this regard is only possible from the time of knowledge of a concrete infringement. If we become aware of such infringements, we will remove this content immediately.</p>
		<br>
		<p>Liability for links</p>
		<p>Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore, we cannot assume any liability for these external contents. The respective provider or operator of the pages is always responsible for the content of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal contents were not recognizable at the time of linking.</p>
		<p>However, a permanent control of the contents of the linked pages is not reasonable without concrete evidence of a violation of the law. If we become aware of any infringements, we will remove such links immediately.</p>
		<br>
		<p>Copyright</p>
		<p>The content and works created by the site operators on these pages are subject to German copyright law. The reproduction, editing, distribution and any kind of exploitation outside the limits of copyright require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use.</p>
		<p>Insofar as the content on this page was not created by the operator, the copyrights of third parties are respected. In particular, third-party content is identified as such. Should you nevertheless become aware of a copyright infringement, we request that you notify us accordingly. If we become aware of any infringements, we will remove such content immediately.</p>
	</div>
</body>