{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Oliva Advisory</title>
	<link rel="icon" href="{%static 'images/favicon.ico' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/teama_scale_fixing.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/cookies.css' %}">
</head>
<body>
	<header class="header">
		<div class="centered-logo-menu">
			<div class="left-header">
				<a href="/" class="logo">
					<img src="{%static "images/logo__full_darkmode.png" %}" alt="">
				</a>
			</div>
			<div class="right-header">
				<ul class="mnu_top" id="buttons">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li class="active-menu"><a href="#">Team</a></li>
					<li><a href="{% url 'projects' %}">Projects</a></li>
					<li><a href="{% url 'career' %}">Career</a></li>
					<li class="two-words-menu"><a href="{% url 'contact_us' %}">Contact us</a></li>
				</ul>
			</div>

            <div class="hamburger" role="navigation">
                <div id="menuToggle">
                    <!--
                    A fake / hidden checkbox is used as click reciever,
                    so you can use the :checked selector on it.
                    -->
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                    <a href="{% url 'index' %}"><li>Home</li></a>
                    <a href="{% url 'team' %}"><li>Team</li></a>
                    <a href="{% url 'projects' %}"><li>Projects</li></a>
					<a href="{% url 'career' %}"><li>Career</li></a>
                    <a href="{% url 'contact_us' %}"><li>Contact us</li></a>
                    </ul>
                </div>
            </div>

		</div>
	</header>
	<div class="lang-general">
		<button class="lang-1">EN</button>
		<button class="lang-2">DE</button>
	</div>
	<div class="face">
		<div class="moto">
			<div class="title-box"><h1>Meet our team<h1></div>
			<div class="list-container">
				<div class="list">
					<div class="div_for_arrow">
						<img class="arrow" src="{%static 'images/arrow.png' %}">
					</div>
					<div class="div_for_paragraph">
						<p>We are a fast-growing global team united by the shared agile mindset and a passion for delivering excellent service in Business Intelligence, IT, and Recruiting.</p>
					</div>
				</div>
				<div class="list">
					<div class="div_for_arrow">
						<img class="arrow" src="{%static 'images/arrow.png' %}">
					</div>
					<div class="div_for_paragraph">
						<p>We thrive to deliver high quality products that provide our clients with the most valuable insights.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block2222222">
		<div class="team-container">
			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Nicola<br>Oliva<br></p>
							<p class="position-member">Founder, CEO<br></p>
						</p>
						<span class="member-says">I am currently working as a full time BI Consultant for an AWS cloud project and trying to help my team where I can to make Oliva Advisory a nice place to work at.<br>I really like to connect the dots when analyzing data. Providing my clients with an “Aha-moment” is why I love my occupation.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static 'images/Nico.png' %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/nicooliva/" target="_blank"> <img class="linkedin-icon" src="{%static 'images/linkedin.png' %}"></a>
				</div>
			</div>
			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Timur<br>Mukhamedzhanov<br></p>
							<p class="position-member">Co-Founder, COO<br></p>
						</p>
						<span class="member-says">I nurture our value chain and processes, now focusing on operational coordination as well as on Human Resource sourcing for our Clients & Team. <br>Passion for discovering, interacting, and co-developing with talented people drives me forward in daily endeavours.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/Timur.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/timur-mukhamedzhanov/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>
			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Marco<br>Mouratidis<br></p>
							<p class="position-member">Sales Manager<br></p>
						</p>
						<span class="member-says">I contact potential clients for Oliva Advisory. My role is the match between client projects and our team's capabilities. I have been working in the sales field for years.<br>It makes me happy to be the first link between different cooperating companies.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/Marco1.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/marco-mouratidis-a31331179/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Martin<br>Burmeister<br></p>
							<p class="position-member">Senior Consultant<br></p>
						</p>
						<span class="member-says">I love improving the way people work and plan and get excited by transparent solutions of complex planning situations. <br>22 years of experience in consulting. <br>Focus on production planning and control in the pharmaceutical and food industry. Module consultant for SAP PP, PPPI, APO PP/DS, as well as ORSOFT.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static 'images/Martin.jpg' %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/martin-burmeister-6a03344/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Eduard<br>Badea<br></p>
							<p class="position-member">Business Intelligence Consultant<br></p>
						</p>
						<span class="member-says">I am currently working with our trusted partners at Parsable, addressing and solving data-related challenges by implementing Tableau based solutions. <br>I am passionate about creating fire BI reports using cross-industry knowledge of graphic design and color psychology.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/Eduard.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/eduard-badea/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Ksenia<br>Ignatchenko<br></p>
							<p class="position-member">Business Intelligence Consultant<br></p>
						</p>
						<span class="member-says">I am currently working as a full time BI Consultant for Power (PowerBI, PowerAutomate, PowerApps) project which covers all stages of working with data: from collecting it to having an insight from it. <br>Transforming chaotic data points into an orderly system that covers the business needs is what makes me feel satisfied with my day.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static 'images/ksenia.png' %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/ksenia-ignatchenko-a6a601161/" target="_blank"> <img class="linkedin-icon" src="{%static 'images/linkedin.png' %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Sandra<br>Alemayehu<br></p>
							<p class="position-member">Business Intelligence Consultant<br></p>
						</p>
						<span class="member-says">I am currently working on assisting clients utilize their data through BI platform development and implementing data architectures to optimize their data management process. <br>It is fulfilling to enable clients communicate with their data effortlessly and get clarity on how their business is performing.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/Sandra.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/sandra-alemayehu/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>




			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Aigerim<br>Khairullina<br></p>
							<p class="position-member">Business Intelligence Consultant<br></p>
						</p>
						<span class="member-says">I am currently working on Data Analytics/BI project for a social media agency, bringing life to a statistical data. <br>Alongside I focus on ML project, where I develop a cell segmentation training dataset. What drives me the most is making the data work for its purpose by analysing, training and optimizing it.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static 'images/Aigerim.jpg' %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/aigerim-khairullina-9448b5141/" target="_blank"> <img class="linkedin-icon" src="{%static 'images/linkedin.png' %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Felix<br>Hofman<br></p>
							<p class="position-member">Head of Artificial Intelligence<br></p>
						</p>
						<span class="member-says">I’m currently working as a product owner for an AWS cloud project and establishing sustainable connections to German universities. <br>I love finding demanding solutions together with different stakeholder and to find new insights from existing data using machine learning and AI techniques.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/Felix.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/felix-hofmann/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Ksenia<br>Verma<br></p>
							<p class="position-member">Talent Acquisition Specialist<br></p>
						</p>
						<span class="member-says">I’m sourcing talent for clients’ projects trying to find best fit solutions for both sides. Building long-lasting relationships with candidates and clients, supporting professionals in their career search, and helping companies find highly qualified IT specialists are the most rewarding experiences for me.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/KseniaV.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/ksenia-verma-134b5865/" target="_blank"> <img class="linkedin-icon" src="{%static "images/linkedin.png" %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Maryna<br>Samoilenko<br></p>
							<p class="position-member">Regional Manager, Python Developer<br></p>
						</p>
						<span class="member-says">I am dealing with TA platforms and soft-ware tools to leverage for TA process including homegrown API solutions and automation tools. <br>My passion is learning novel algorithms for creation of highly demanded tools and eventually growing with Oliva Advisory.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static "images/Marina.jpg" %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/maryna-samoilenko-68835183/" target="_blank"> <img class="linkedin-icon" src="{%static 'images/linkedin.png' %}"></a>
				</div>
			</div>

			<div class="about-member">
				<div class="about-member-text">
					<p>
						<p class="top-text">
							<p class="name-member">Anna<br>Huzenko<br></p>
							<p class="position-member">Talent Acquisition Specialist<br></p>
						</p>
						<span class="member-says">I am creating a strategy to find best talents from nearest countries for clients companies. I tend to focus on market research, crm implementation and finding appropriate candidates for positions that require a specific skillset.</span>
					</p>
				</div>
				<div class="photo-member">
					<img src="{%static 'images/Anna.jpg' %}">
				</div>
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/anna-huzenko/" target="_blank"> <img class="linkedin-icon" src="{%static 'images/linkedin.png' %}"></a>
				</div>
			</div>

		</div>
	</div>
	<div class="list-container-bottom">
		<div class="compensate-margin">
			<div class="list-bottom">
				<p class="join-us-text">Want to be part of the team?<br>Check out our career page!</p>
			</div>
			<div class="careers">
				<a href="{% url 'career' %}">
					<button class="button-1">Careers</button>
				</a>
			</div>
		</div>
	</div>
	<footer>
		<div>
			<a href="{% url 'imprint' %}"  target="_blank">Imprint</a>
		</div>
		<div>
			<p>© Oliva Advisory GmbH 2019</p>
		</div>
	</footer>

	{% if not cookie %}
		{% include "app1/cookie_modal.html" %}
	{% endif %}
</body>